{% extends 'website/layout.html' %}

{% block content %}
    <ul class="minerals__container">
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Abelsonite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Abenakiite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Abernathyite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Abhurite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Abramovite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Abswurmbachite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Acanthite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Achavalite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Actinolite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Acuminite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Adamite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Adelite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Admontite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Aegirine</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Aenigmatite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Aerinite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Aerugite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Afghanite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Afwillite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Agardite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Agrellite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Agrinierite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Aheylite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Aikinite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Ajoite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Akatoreite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Akdalaite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Akimotoite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Aksaite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Aktashite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Alabandite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Alamosite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Alarsite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Albite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Albrechtshraufite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Aldermanite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Algrodonite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Aliettite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Allabogdanite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Allactite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Allanite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Allanpringite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Alloclasite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Allophane</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Altisite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Amakanite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Amesite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Amphibole</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Anandite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Anglesite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Ankerite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Annite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Anorthite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral' mineral_pk='1' %}">Antarcticite</a>
        </li>
    </ul>
{% endblock %}